#admin {
    display: flex;
    width: 100%;
    height: 100%;
}

/* .SideMenu{
    width: 10%;
    border-right: solid 1px grey;    
    margin-left: 20px;
    padding-top: 20px;
    margin-right: 0px;
}

#admin_body{
    padding-left: 15px;
}
 */
.AHeader{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    color: white;
}


.SideMenu ul {
    list-style: none;
    margin: 5px;
}

.SideMenu ul li  {
    padding: 15px;
}

.SideMenu ul li a {
    text-decoration: none;
    color: black;
}

.SideMenu ul li:hover {
    color: white;
    background-color: grey;
}

.SideMenu ul li a:hover {
    color: white;
}

.SideMenu ul li a:active {
    color: white;
    background-color: grey;
}

.SideB{
    width: 15%;
    border-right: solid 1px grey;    
    margin-left: 20px;
    padding-top: 20px;
    margin-right: 0px;
    height: 100%;
}
.AdminBody{
    height: 100%;
    width: 85%;
    border-right: solid 1px grey;
    padding-left: 3rem;
    padding-top: 20px;
}

.w-screen {
    width: 100%;
}